@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Poppins:wght@400;700&display=swap");
@font-face {
  font-family: "Oduda";
  src: url("./../fonts/Oduda/Oduda-Bold.eot");
  src: url("./../fonts/Oduda/Oduda-Bold.eot?#iefix") format("embedded-opentype"),
    url("./../fonts/Oduda/Oduda-Bold.woff2") format("woff2"),
    url("./../fonts/Oduda/Oduda-Bold.woff") format("woff"),
    url("./../fonts/Oduda/Oduda-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*
font-family: 'Poppins', sans-serif;
font-family: 'Covered By Your Grace', cursive;
font-family: 'Oduda', sans-serif;
 */

:root {
  --theme-color: #a50a06;
  --primary-color: #efc325;
  --text-color: #666666;
  --heading-color: #111111;
  --black: #000000;
  --white: #ffffff;
  --hr-color: #cccccc;
}
* {
  padding: 0;
  margin: 0;
}
html,
body {
  overflow-x: hidden;
  position: relative;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: var(--text-color);
  font-size: 18px;
  height: auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oduda", sans-serif;
  color: var(--heading-color);
  font-weight: 700;
  margin-bottom: 0;
}

h1 {
  font-size: 70px;
}
h2 {
  font-size: 55px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 26px;
}
h6 {
  font-size: 16px;
}
.fz-2 {
  font-size: 1.1em;
}
p {
  line-height: 1.667;
  margin-bottom: 15px;
}
img {
  max-width: 100%;
  transition: 0.3s;
}
a {
  text-decoration: none;
}
a,
button {
  transition: 0.3s ease;
  color: inherit;
  outline: medium none;
}
a:hover {
  color: var(--theme-color);
}
button:focus,
input:focus,
textarea:focus {
  outline: 0;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
hr {
  border-bottom: 1px solid var(--hr-color);
  border-top: 0 none;
  margin: 30px 0;
  padding: 0;
}
*::-moz-selection,
*::selection {
  background: #007acc;
  color: var(--white);
  text-shadow: none;
}

/* Input Placeholder */
.nice-select,
input:not([type=submit]),
textarea {
  width: 100%;
  padding: 23px;
  font-size: 16px;
  transition: 0.3s ease;
  border: 0;
  background: #fff;
  color: var(--heading-color);
  border-radius: 0;
  font-family: 'Oduda', sans-serif;
}
input:focus,
textarea:focus {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
*::-moz-placeholder,
::placeholder {
  color: #666666;
  font-size: inherit;
  opacity: 1;
  font-weight: inherit;
}

/* nice-select */
.nice-select {
  height: auto;
  float: none;
  border: 0;
  line-height: inherit;
}
.nice-select .list {
  width: 100%;
  height: calc(40px * 5);
  overflow-y: auto;
}
.nice-select::after {
  height: 0;
  width: 0;
  right: 20px;
  top: 55%;
  transform: translate(-50%, -50%);
  transform-origin: initial;
  border: 0;
  border-top: 8px solid #000000;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
.nice-select.open::after {
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
}
/*==ScrollUp CSS==*/
#scrollUp {
  background: var(--theme-color) none repeat scroll 0 0;
  border-radius: 3px;
  cursor: pointer;
  position: fixed;
  text-align: center;
  z-index: 998 !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  font-size: 25px;
  height: 1.6em;
  width: 1.6em;
  right: 1.2em;
  bottom: 2em;
  color: var(--white);
}
.slick-slider {
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}
.slick-slide {
  margin-right: calc(var(--bs-gutter-x) / 2);
  margin-left: calc(var(--bs-gutter-x) / 2);
}
/* ======CONTAINER WIDTH===== */
.container {
  max-width: 1210px;
}
/* ====================================================== */

/* =======GLOBAL CSS========= */
.theme-color {
  color: var(--theme-color) !important;
}
.primary-color {
  color: var(--primary-color) !important;
}
.bg-attachment {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ddd;
}
.flex-1 {
  flex: 1;
}
.inline-list {
  margin-top: calc(var(--bs-gutter-y) * -1);
}
.inline-list > * {
  display: inline-block;
  margin-top: var(--bs-gutter-y);
}
.inline-list > * + * {
  margin-left: var(--bs-gutter-x);
}
.white-color {
  color: #fff !important;
}
header,
section,
footer,
.section-overlay,
.line-title,
.position-relative {
  position: relative;
  z-index: 1;
}
.section-content h1,
.section-content h2,
.section-content h3,
.section-content h4,
.section-content h5,
.section-content h6 {
  margin-bottom: 15px;
  line-height: 1;
}
.white-content h1,
.white-content h2,
.white-content h3,
.white-content h4,
.white-content h5,
.white-content h6,
.white-content p {
  color: #fff;
}
.section-overlay:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #000;
  opacity: 0.2;
  transition: 0.3s ease;
}
.absolute-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.absolute-img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  max-height: 100%;
}
.absolute-img.center-center,
.absolute-img.right-center,
.absolute-img.left-center {
  top: 50%;
  transform: translate(0, -50%);
}

.absolute-img.center-center{
  left: 50%;
  transform: translate(-50%, -50%);
}
.absolute-img.right-top,
.absolute-img.right-bottom,
.absolute-img.right-center {
  left: auto;
  right: 0;
}
.absolute-img.right-bottom,
.absolute-img.left-bottom {
  top: auto;
  bottom: 0;
}

/* =======PRELOADER===== */
.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--theme-color);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* PRELOADER-CSS END */

/* HEADER AREA */
.mainmenu li a {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  padding: 0.5em;
}
.mainmenu li {
  display: inline-block;
  position: relative;
  z-index: 2;
}
.mainmenu li.current > a,
.mainmenu li > a:hover {
  color: var(--theme-color);
}
.header-content.sticky .submenu {
  padding-top: 27px;
}
.submenu {
  position: absolute;
  top: 120%;
  padding: 20px 0px;
  transition: 0.3s ease;
  width: 250px;
  opacity: 0;
  pointer-events: none;
  padding-top: 33px;
}
.mainmenu ul li:hover .submenu {
  top: 100%;
  opacity: 1;
  pointer-events: all;
}
.submenu li {
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;
}
.submenu li a {
  padding: 0.5em 1em;
  display: block;
  background: var(--primary-color);
  color: #000;
}
.submenu li:after {
  display: none;
}
.submenu li a:hover {
  background: var(--theme-color);
  color: #fff;
}
.circle-list li {
  color: var(--theme-color);
  font-weight: 700;
  position: relative;
  padding-left: 2em;
  font-size: 18px;
}
.circle-list li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 1.5em;
  width: 1.5em;
  border: 3px solid var(--theme-color);
  border-radius: 50%;
}
.header-area {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  background: #fff;
}
.header-content {
  transition: 0.3s ease;
}
.logo {
  margin: -20px 0;
}
.header-contact li {
  display: inline-block;
}
.header-contact li {
  color: var(--white);
  padding: 15px;
  font-weight: 700;
}
.header-contact {
  background: var(--theme-color);
  position: absolute;
  right: 0;
  top: 95%;
  padding: 0 10px;
  transition: 0.3s ease;
}
.header-contact li i {
  margin-right: 10px;
  font-size: 22px;
}
.header-area.sticky {
  position: fixed;
  animation: slideInDown 0.5s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.header-area.sticky .header-contact {
  right: -5%;
  opacity: 0;
  pointer-events: none;
}

/* HERO AREA */
.hero-slide {
  height: 830px;
  display: grid !important;
  align-items: center;
}
.section-content .title {
	font-weight: 400;
	font-family: "Covered By Your Grace", cursive;
	display: inline-block;
}
.hero-slide h5 {
  letter-spacing: 0.08em;
}
.page-link {
  padding: 0.2em 1em;
}
.gallery-page-link .site-btn.active, 
.account-link li.active .site-btn, 
.single-shop-detail-link li.active .site-btn, 
.site-btn {
	display: inline-block;
	background: var(--theme-color);
	text-transform: uppercase;
	color: var(--white);
	font-weight: 700;
	padding: 1em 2.4em;
	position: relative;
	z-index: 1;
	border: 0;
	text-align: center;
	font-family: "Oduda", sans-serif;
	transition: .3s ease;
}
.gallery-page-link .site-btn.active:after,
.account-link li.active .site-btn:after,
.single-shop-detail-link li.active .site-btn:after,
.site-btn::after {
  position: absolute;
  left: 0;
  top: 50%;
  height: 1.7em;
  width: 1.7em;
  content: "";
  border: 0.17em solid var(--primary-color);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
  z-index: -1;
  background: none;
}
.gallery-page-link .site-btn:after,
.account-link li .site-btn:after,
.single-shop-detail-link li .site-btn:after,
.site-btn:hover::after {
  background: var(--primary-color);
  width: 100%;
  height: 100%;
  transform: translate(0, 0);
  border-radius: 0;
  top: 0;
}
[type=submit].border-hover {
  border: 3px solid var(--theme-color);
}
[type=submit].border-hover:hover,
.border-hover:hover::after {
  border-color: inherit;
}
.gallery-page-link .site-btn,
.account-link li .site-btn,
.single-shop-detail-link li .site-btn,
.site-btn:hover {
	color: var(--black);
	background: var(--primary-color);
}
.black-btn {
  background: var(--black);
  color: var(--white);
}
.black-btn:hover {
  color: var(--white);
}
input.black-btn:hover {
  color: var(--heading-color);
}
.black-btn:after {
  border-color: var(--theme-color);
}
.black-btn:hover:after {
  background: var(--theme-color);
}
.gray-btn{
  background: #F5F5F5;
  color: var(--heading-color);
}
.sq-btn {
  background: var(--theme-color);
  color: #fff;
  height: 2.7em;
  width: 2.7em;
  display: inline-grid;
  place-content: center;
}
.sq-btn:hover {
  background: var(--primary-color);
  color: var(--heading-color);
}
.page-title-bg,
.hero-bg {
  right: 0;
  left: auto;
  width: 95%;
}
.hero-nav {
  height: 170px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
  display: grid !important;
  place-content: center;
}
.hero-nav a {
  color: #fff;
  font-size: 2em;
  opacity: 0;
  pointer-events: none;
  transform: scale(1);
}
.hero-nav.slick-center a {
  opacity: 1;
  pointer-events: all;
  transform: scale(1);
}
.hero-nav:before {
  opacity: 0;
  background: var(--theme-color);
}
.hero-nav.slick-center:before {
  opacity: 0.8;
}
.hero-navs {
  margin-left: -15px;
  margin-right: -15px;
}
.hero-nav-wrap {
  margin-top: -6%;
}
/* experience */
.experience-bx h1 {
  font-size: 100px;
  margin-bottom: 0;
  line-height: 0.9;
}
.experience-bx h5 {
  font-size: 22px;
}
.sq-bx {
  height: 2.3em;
  width: 2.3em;
  background: var(--theme-color);
}
.sq-shape-group span {
  height: 3.8em;
  width: 3.8em;
  display: block;
  background: var(--primary-color);
}
.sq-gray-shape span {
  background: var(--primary-color);
}
.sq-shape-group span:nth-child(2) {
  margin-left: 100%;
}
.sq-shape-group {
  display: inline-block;
}
.page-title-shape,
.hero-shape {
  height: 70%;
  bottom: 1%;
  width: 85%;
  top: auto;
}
.page-title-area .sq-shape-group,
.hero-area .sq-shape-group {
  top: calc(29% - 3.8em * 3);
  z-index: 5;
}
.page-title-area .sq-shape-group.right-bottom,
.hero-area .sq-shape-group.right-bottom {
  top: auto;
  bottom: calc(-3.8em + 1%);
  right: calc(15% - 3.8em);
}

.sq-shape-group span:nth-child(1) {
  animation: moveSq1 2s ease infinite;
}
.sq-shape-group span:nth-child(2) {
  animation: moveSq2 2s ease infinite;
}
.sq-shape-group span:nth-child(3) {
  animation: moveSq3 2s ease infinite;
}
@keyframes moveSq1 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100%, 0);
  }
  50% {
    transform: translate(100%, 100%);
  }
  75% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes moveSq2 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-100%, 0);
  }
  50% {
    transform: translate(-100%, 0);
  }
  75% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes moveSq3 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100%, 0);
  }
  50% {
    transform: translate(100%, -100%);
  }
  75% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* ABOUT AREA */
.play-bx {
  display: grid;
  place-content: center;
}
.play-circle {
  height: 4.5em;
  width: 4.5em;
  border-radius: 100%;
  border: 0.13em solid;
  display: inline-grid;
  place-content: center;
  color: #fff;
  font-size: 22px;
}
.play-icon {
  border-left: 1em solid;
  border-top: 0.65em solid transparent;
  border-bottom: 0.65em solid transparent;
  display: inline-block;
}

.video-btn {
  position: relative;
  z-index: 1;
}
.video-btn::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  border-radius: inherit;
  border: 3px solid;
  opacity: 0.6;
  z-index: -1;
  -webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both
    infinite;
  animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
  pointer-events: none;
}
@keyframes btnIconRipple {
  0% {
    border-width: 4px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  80% {
    border-width: 1px;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }

  100% {
    opacity: 0;
  }
}
.play-bx,
.about-bx-slide {
  height: 310px;
}
.about-bx-slide {
  background: var(--primary-color);
  display: grid !important;
  place-content: center;
}
.about-bx-slide h1 {
  margin-bottom: 0;
}
.about-bx-slide h5 {
  font-size: 22px;
}
.slick-dots li button {
  height: 15px;
  width: 15px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  font-size: 0;
  line-height: 0;
  display: inline-block;
  border: 0;
}
.slick-dots li {
  display: inline-block;
  margin: 5px;
}
.slick-dots {
  position: absolute;
  left: 0;
  bottom: 5%;
  width: 100%;
  text-align: center;
}
.slick-dots li.slick-active button {
  background: var(--theme-color);
}
.about-img {
  margin-bottom: -25%;
}
.about-img .sq-shape-group {
  z-index: 3;
  transform: translate(-120%, -50%);
}
.line-title:after {
  height: 0.65em;
  width: 0.65em;
  content: "";
  border: 3px solid var(--theme-color);
  border-radius: 50%;
  position: absolute;
  right: 103%;
  top: 50%;
  transform: translate(0, -50%);
}
.line-title::before {
  content: "";
  height: 1px;
  background: var(--theme-color);
  width: 1000px;
  right: calc(103% + 0.65em);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

/* service */
.service-offer {
  height: 19em;
  padding: 1em 1.8em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.offer-circle {
  height: 6.667em;
  width: 6.667em;
  display: grid;
  place-content: center;
  border-radius: 50%;
  background: var(--theme-color);
  position: relative;
  text-align: center;
  color: var(--white);
}
.offer-circle h3,
.offer-circle h6 {
  color: inherit;
}
.section-content .offer-circle * {
  margin-bottom: 5px;
}
.offer-circle::after {
  position: absolute;
  left: -5px;
  top: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  border: 1px solid var(--primary-color);
  content: "";
  border-radius: inherit;
}
.service-offer .sq-shape-group {
  right: 15%;
  top: -5%;
}
.serive-bx-icon {
  height: 5.5em;
  width: 5.5em;
  padding: 15px;
  background-color: transparent;
  border-radius: 50%;
  display: inline-grid;
  place-content: center;
}
.service-content > div:nth-child(2n) {
  flex-direction: row-reverse;
}
.service-content > div:last-child {
  margin-bottom: 0;
}
.service-bx p {
  font-size: 16px;
}

/* BRAND */
.brand-item {
  padding: 15px;
  background: #fafafa;
}
.brand-img {
  background: #fff;
  display: grid;
  place-content: center;
  padding: 10px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
  height: 6.667em;
}
.brand-items > div:nth-child(4n - 1) .brand-item,
.brand-items > div:nth-child(4n) .brand-item {
  background: #fff;
}
.brand-info h6 {
  color: var(--theme-color);
}

/* location */
.location-area .container {
  max-width: 1590px;
}
.location-bx {
  background: #fff;
}
.location-bx .section-content {
  padding: 10px;
  padding-left: 0;
  text-align: left;
}
.location-address {
  display: grid;
  align-items: center;
}
.location-bx img {
  width: 100%;
}
.location-bx h6 {
  font-size: 18px;
  color: #666666;
}
.location-bx h6 span {
  min-width: 28%;
  display: inline-block;
  margin-right: 10px;
}
.location-bx::after {
  position: absolute;
  top: 100%;
  content: "";
  border-top: 20px solid #fff;
  border-left: 30px solid transparent;
  right: 30%;
}

/* testimony */
.ratting-star span,
.ratting-star li {
  display: inline-block;
  color: #9e9e9e;
  font-size: 22px;
}
.white-content .ratting-star li {
  color: #f2f2f2;
}
.ratting-star span.ratted,
.ratting-star li.ratted {
  color: #efc325;
}
.ratting-wrap h6 {
  color: #9e9e9e;
  letter-spacing: 0.12em;
}
.testimony-slider {
  margin-bottom: -33%;
}
.testimony-slide {
  background: var(--theme-color);
  padding: 70px;
  border: 0.25em solid var(--theme-color);
  display: flex !important;
  flex-direction: column;
}
.testimony-slide .section-content {
  margin-bottom: auto;
}
.client-info h3 {
  flex: 1;
  margin-left: 15px;
}
.client-info h3 span {
  font-size: 0.4em;
  text-transform: uppercase;
  display: block;
  letter-spacing: 0.12em;
  margin-top: 0.5em;
  font-weight: 400;
}
.client-info img {
  width: 120px;
  border: 3px solid var(--theme-color);
  border-radius: 50%;
}
.testimony-slide p {
  font-size: 22px;
}
.testimony-slide p:before,
.testimony-slide p:after {
  content: '"';
}
.testimony-img {
  margin-right: -7%;
}

.border-slide-dots .slick-dots li button {
  border: 3px solid var(--primary-color);
  height: 20px;
  width: 20px;
  background: #a50a06;
}
.border-slide-dots .slick-dots li.slick-active button {
  background: var(--primary-color);
}
.testimony-slider .slick-dots {
  text-align: right;
  bottom: 0;
  transform: translate(0, 30%);
  padding: 0 5%;
}

/* quality */
.quality-area .sq-shape-group {
  right: calc(50% + 3.8em);
}
.quality-bg {
  right: 0;
  left: auto;
  width: 50%;
}
.quality-list li {
  padding-left: 1.8em;
  margin-bottom: 0.8em;
  position: relative;
  font-size: 20px;
}
.check-icon,
.quality-list li:before {
  height: 1.2em;
  width: 1.2em;
  clip-path: polygon(16% 46%, 31% 65%, 80% 0, 100% 29%, 28% 100%, 1% 67%);
  display: inline-block;
}
.quality-list li:before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  background: #000;
}
.quality-list li h5 {
  font-size: inherit;
}

/* gallery */
.gallery-item > a {
  font-size: 70px;
  color: #fff;
  transform: scale(0.2);
  opacity: 0;
}
.gallery-item:hover > a {
  transform: scale(1);
  opacity: 1;
}
.gallery-item::before {
  opacity: 0;
  background: var(--theme-color);
}
.gallery-item:hover::before {
  opacity: 0.8;
}
.gallery-item {
  display: grid;
  place-content: center;
  height: 280px;
}
.border-btn {
  color: #fff;
  background: var(--theme-color);
  padding: 0.8em 1.5em;
  display: inline-block;
  border: 3px solid var(--primary-color);
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
.border-btn:hover {
  color: var(--primary-color);
}
.gallery-content .border-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* product */
.price {
  color: var(--theme-color);
}
.price del {
  color: #111111;
  font-size: 0.6em;
}
.text-btn {
	text-transform: uppercase;
	font-size: 16px;
	color: var(--heading-color);
	position: relative;
	padding-left: 1.8em;
	display: inline-block;
	font-weight: 700;
}
.text-btn::before {
  height: 1.4em;
  width: 1.4em;
  border: 3px solid var(--primary-color);
  display: inline-block;
  content: "";
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.text-btn:hover {
  color: var(--primary-color);
}
.product-img {
  height: 14em;
  background: #fff;
  text-align: center;
  display: grid;
  place-content: center;
  box-shadow: 0 0 54px rgba(0, 0, 0, 0.05);
  padding: 10px;
}
.product-slider {
  margin-right: -25px;
  margin-left: -25px;
  margin-right: -20%;
}
.product-slide {
  margin-right: 25px;
  margin-left: 25px;
}

/* choose */
.choose-icon {
  font-size: 70px;
  height: 1.7em;
  width: 1.7em;
  border-radius: 50%;
  background: var(--primary-color);
  position: relative;
  display: inline-grid;
  place-content: center;
  padding: 10px;
  margin-bottom: 0.4em;
}
.choose-icon::after {
  position: absolute;
  top: 100%;
  right: 45%;
  border-top: 0.2em solid var(--primary-color);
  border-left: 0.2em solid transparent;
  content: "";
}
.choose-text {
  margin-top: -25%;
  padding: 0 2.2em 1.1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choose-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.choose-content > div:nth-child(3n -1) .choose-item {
  flex-direction: column-reverse;
}
.choose-content > div:nth-child(3n -1) .choose-text {
  margin-top: 0;
  margin-bottom: -25%;
  flex-direction: column-reverse;
}
.choose-content > div:nth-child(3n -1) .choose-icon {
  margin-bottom: 0;
  margin-top: 30px;
}
.choose-content > div:nth-child(3n -1) .choose-icon:after {
  top: auto;
  bottom: 100%;
  transform: rotate(180deg);
}

/* feature */
.feature-bg {
  width: 40%;
}
.feature-bg:before {
  background: #fafafa;
  opacity: 0.9;
}
.feature-list p {
  font-size: 16px;
}
.feature-icon {
  font-size: 60px;
  height: 2.2em;
  width: 2.2em;
  border-radius: 50%;
  background: var(--primary-color);
  display: inline-grid;
  place-content: center;
  position: relative;
  padding: 15px;
}
.feature-icon h6 {
  font-size: 0.2em;
  height: 2.3em;
  width: 2.3em;
  border: 3px solid var(--primary-color);
  background: #fff;
  display: inline-grid;
  place-content: center;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50%;
}
.feature-list {
  margin-bottom: 40px;
  margin-right: 18%;
}
.feature-list:nth-child(2n) {
  margin-left: 18%;
  margin-right: 0;
}
.feature-list:last-child {
  margin-bottom: 0px;
}
.feature-list:nth-child(2n) .feature-icon::after,
.feature-list:nth-child(2n) .feature-icon::before {
  content: "";
  height: 1px;
  width: 40%;
  background: var(--primary-color);
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-45%) rotate(55deg);
  z-index: -1;
}
.feature-list:nth-child(2n) .feature-icon::after {
  top: auto;
  bottom: 0;
  transform: translate(-10%) rotate(-55deg);
}

/* news */
.news-slide h4 {
  padding: 20px;
  background: var(--primary-color);
  position: relative;
  margin-right: -40%;
  z-index: 1;
}
.news-list li {
  display: inline-block;
  margin-right: 1.3em;
  font-size: 18px;
}
.news-list li h6 {
  font-size: inherit;
}
.news-list li:last-child {
  margin-right: 0;
}
.news-slider {
  margin-right: -35px;
  margin-left: -35px;
}
.news-slide {
  margin-right: 35px;
  margin-left: 35px;
}

.slick-arrow {
  height: 2.8em;
  width: 2.8em;
  background: #ffff;
  font-size: 25px;
  color: #000;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  border: 0;
}
.slick-arrow:hover {
  background: var(--theme-color);
  color: #fff;
}
.slick-arrow:hover:before,
.slick-arrow:before,
.slick-arrow:after {
  position: absolute;
  left: 0.2em;
  right: 0.2em;
  bottom: 0.2em;
  top: 0.2em;
  content: "";
  border-radius: inherit;
  z-index: -1;
  border: 1px solid #d3d3d3;
  transition: 0.3s ease;
}
.slick-arrow:hover:after,
.slick-arrow:before {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.slick-arrow:hover:after {
  border-color: var(--theme-color);
}
.slick-arrow:hover:before {
  border-color: var(--white);
}
.slider-counter {
  color: #111111;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  flex: 1;
  max-width: 5em;
}
.slider-counter span {
  font-size: 1.8em;
  color: var(--theme-color);
}

/* contact */
.contact-form {
  padding: 70px;
}
.contact-bg {
  top: auto;
  bottom: 0;
  height: 85%;
}
.contact-bg::before {
  opacity: 0.4;
}
.contact-form .sq-shape-group {
  right: -3.8em;
  bottom: -3.8em;
}
.contact-form p {
  color: #111111;
}
.circle-icon {
  font-size: 40px;
  width: 1.8em;
  height: 1.8em;
  background: var(--theme-color);
  border-radius: 50%;
  color: var(--primary-color);
  display: inline-grid;
  place-content: center;
}
.circle-icon-alt {
  color: var(--black);
  background: var(--primary-color);
}
a.circle-icon:hover{
	color: var(--heading-color);
	background: var(--primary-color);
}

/* footer */
.copyright {
  background: var(--primary-color);
  padding: 30px 0;
}
.social-links li i {
  font-size: 1.13em;
  color: #111111;
  height: 2em;
  width: 2em;
  margin-right: 0.5em;
  background: var(--primary-color);
  display: inline-grid;
  place-content: center;
  border-radius: 50%;
  font-weight: normal;
}
.social-links li a {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
}
.social-links li {
  display: inline-block;
  margin-right: 40px;
}
.social-links li:last-child {
  margin-right: 0;
}
.social-links {
  border-bottom: 5px solid var(--primary-color);
}
.social-links li a:hover {
  color: var(--primary-color);
}
.footer-item h3 {
  margin-bottom: 35px;
}
.footer-item .section-content p {
  font-size: 15px;
}
.footer-item h3 {
  margin-bottom: 35px;
}
.check-menu {
  display: flex;
  flex-wrap: wrap;
}
.check-menu li {
  width: 50%;
}
.check-menu li a {
  color: #fff;
  font-weight: 700;
  padding: 0 0 10px 15px;
  display: block;
  position: relative;
  font-size: 17px;
}
.check-menu li a::before {
  content: "\f105";
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  left: 0;
  top: 0px;
  color: var(--primary-color);
}
.check-menu li a:hover {
  color: var(--primary-color);
}
.contact-time {
  font-size: 19px;
}
.contact-time span {
  min-width: 30%;
  display: inline-block;
}
.contact-num {
  color: var(--primary-color);
}
.contact-num span {
  color: #dddddd;
  font-size: 0.6em;
  display: block;
  margin-top: 10px;
}
.copyright h6 {
  font-size: 20px;
}
.copyright a:hover {
  color: var(--theme-color);
}

.footer-content .sq-shape-group {
  right: 3.8em;
}

/* humberger menu */
.humberger-bar.active {
  position: fixed;
  top: 15px;
  transform: translateY(0);
}
.humberger-bar {
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  z-index: 10000;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.humberger-bar span {
  height: 2px;
  width: 25px;
  background: #020202;
  display: block;
  margin-bottom: 7px;
  border-radius: 5px;
  transition: 0.3s ease;
}
.humberger-bar span:last-child {
  margin-bottom: 0px;
}
.humberger-bar:hover span {
  background: #000;
}
.humberger-bar.active span {
  background: #000327;
}
.humberger-bar.active:hover span {
  background: var(--theme-color);
}
.humberger-bar.active span:first-child {
  transform: translate(0, 8px) rotate(45deg);
}
.humberger-bar.active span:nth-child(2) {
  transform: translate(50%);
  opacity: 0;
}
.humberger-bar.active span:last-child {
  transform: translate(0, -10px) rotate(-45deg);
}

.resonsive-slide {
  width: 350px;
  height: 100vh;
  background: #fff;
  padding: 30px 20px;
  text-align: center;
  padding-top: 20px;
  position: fixed;
  top: 0;
  right: 0;
  margin-right: -350px;
  transition: 0.3s ease-in-out;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  opacity: 0;
}
.resonsive-slide.active {
  margin-right: 0px;
  opacity: 1;
}
.responsive-menu ul li a {
  color: #000327;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  padding: 5px;
}
.responsive-menu ul li a:hover,
.responsive-menu ul li.active > a,
.responsive-menu ul li.current > a {
  color: var(--theme-color);
}
.responsive-menu {
  margin-bottom: 20px;
}
.responsive-menu > img {
  max-width: 120px;
  margin-bottom: 20px;
}
.responsive-others {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.responsive-btn a {
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
  padding: 10px;
}
.responsive-links .copyright-text {
  font-size: 16px;
  color: #000;
}
.responsive-menu .submenu li a:hover {
  color: #fff;
}

.responsive-menu .submenu li a {
  padding: 0.5em 1em;
  text-align: center;
}
.responsive-menu ul li.has-child > a::after {
  content: "\f107";
  font-family: "Font Awesome 5 Pro";
  display: inline-block;
  margin-left: 5px;
  transition: 0.3s ease;
}
.responsive-menu ul li.has-child.active > a::after {
  transform: rotate(-180deg);
}
.resonsive-slide-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  z-index: 9998;
  opacity: 0.5;
}
.resonsive-slide-overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  z-index: 9998;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}
.resonsive-slide-overlay.active {
  opacity: 0.5;
  pointer-events: all;
}
.responsive-others .copyright-text {
  color: #000;
  font-size: 12px;
}
.responsive-others .copyright-text a:hover {
  color: #ffffff;
}
/* humberger menu end */

/* PAGE TITLE*/
.page-title-text {
  padding-top: 260px;
}
.breadcrumb li,
.breadcrumb-item.active {
  color: var(--heading-color);
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}
.breadcrumb-item + .breadcrumb-item {
  padding-left: 1em;
}
.breadcrumb-item + .breadcrumb-item::before {
  padding-right: 1em;
  color: inherit;
}

.page-title-shape {
  height: 60%;
  bottom: 0%;
  width: 85%;
  top: auto;
}
.page-title-area .sq-shape-group {
  top: calc(40% - 3.8em * 3);
  z-index: -1;
}
.page-title-area .sq-shape-group.right-bottom {
  bottom: 0;
  right: calc(15% - 3.8em);
}

.about-info-bx {
  padding-left: 2.3em;
  position: relative;
}
.about-info-bx::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.2em;
  height: 1.7em;
  width: 1.7em;
  border: 0.2em solid var(--primary-color);
  border-radius: 50%;
}
.about-info-bx:last-child {
  margin-bottom: 0;
}

.about-page-about-area .play-bx,
.about-page-about-img {
  height: 540px;
}
.about-page-about-area .play-bx {
  margin-right: -72%;
}
.about-page-service-bg {
  height: auto;
  bottom: 0;
  top: -30%;
}
.about-page-service .sq-shape-group.right-top {
  right: calc(35% + 3.8em);
}

/* about-page-testimony */
.brand-slide {
  padding: 0 1em;
  height: 120px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.brand-slide img {
  margin: 0 auto;
  max-height: 100%;
}
.about-page-testimony-area .testimony-slider {
  margin-bottom: -15%;
}

/* ABOUT QUALITY */
.progress-list li {
  display: flex;
  align-items: center;
}
.progress-list .progress {
  height: 4.5em;
  flex: 1;
  background: transparent;
}
.progress-list .progress-bar {
  border-radius: 50px;
  background: var(--primary-color);
  text-align: left;
  padding-left: 3em;
}
.progress-list li h5 {
  margin-bottom: 0;
  font-size: 22px;
}
.progress-list li > h5 {
  width: 50%;
}
.progress-list .progress-bar h5 {
  color: var(--heading-color);
}
.progress-list li {
  margin-bottom: 1em;
}

/* contact page*/
.sq-colored-social li a {
  font-size: 20px;
  height: 3em;
  width: 3em;
  display: grid;
  place-content: center;
  color: #fff;
}
.sq-colored-social li {
  display: inline-block;
  margin: 3px;
}
.sq-colored-social li a:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.gray-form input:not([type=submit]),
.gray-form textarea,
.gray-form .nice-select {
  background: #f6f6f6;
}
.contact-location .location-content {
  padding: 70px;
  background: var(--primary-color);
}
.contact-location .location-bx {
  border: 2px solid var(--primary-color);
  padding: 1.8em 3.4em;
}
.contact-location {
  margin-bottom: -180px;
  z-index: 2;
}
.contact-location .location-bx::after {
  display: none;
}
/* faq */
/* faq */
.faq-box-title {
  cursor: pointer;
  transition: 0.3s ease;
}
.faq-box-title h5 {
  margin: 0;
  transition: 0.3s ease;
  border: 0.2em solid var(--primary-color);
  padding: 25px 35px;
  position: relative;
  border-radius: 5px;
}
.faq-box-title h5::after {
  position: absolute;
  right: 1.2em;
  top: 50%;
  content: "\f107";
  transition: 0.3s ease;
  height: 1.5em;
  width: 1.5em;
  background: var(--primary-color);
  border-radius: 50%;
  transform: translateY(-50%);
  font-family: "Font Awesome 5 Pro";
  display: inline-grid;
  place-content: center;
  font-weight: 300;
}
.faq-box.active .faq-box-title h5::after {
  transform: translateY(-50%) rotate(180deg);
  background: #fff;
}
.faq-box.active .faq-box-title {
  background: var(--primary-color);
}
.faq-box-body .section-content {
  padding: 15px 35px;
}
.faq-box-body {
  transition: 0.3s ease;
  max-height: 0;
  overflow: hidden;
}

/* SERVICE PAGE */
.service-page .service-bx {
  padding: 1.5em;
  background: #fff;
  padding-bottom: calc(1.5em - 15px);
}
.service-page .service-bx::after {
  content: "";
  z-index: -1;
  bottom: 0;
  right: 0;
  height: 2em;
  width: 2em;
  background: var(--primary-color);
  position: absolute;
}
.service-img {
  margin-left: -55%;
}

/* service feature */
.repair-area::before,
.service-page-feature::before {
  opacity: 0.9;
  background: #fff;
}
.feature-bx {
  padding: 2em;
  padding-left: 0;
  padding-bottom: calc(2em - 15px);
  position: relative;
  z-index: 1;
}
.feature-bx:after {
  content: "";
  position: absolute;
  top: 0;
  left: 13%;
  right: 0;
  bottom: 0;
  background: #fff;
  border: 1px solid #e0e0e0;
  z-index: -1;
}
.feature-bx-img {
  height: 5.5em;
  width: 5.5em;
  display: grid;
  place-content: center;
  border-radius: 50%;
  padding: 10px;
  background: var(--theme-color);
}
.serive-bg {
  width: 45%;
  right: 0;
  left: auto;
}
.service-page-feature .sq-shape-group {
  right: 45%;
}

/* repair */
.offer-circle-alt {
  background: var(--primary-color);
}
.offer-circle-alt:after {
  display: none;
}
.offer-circle-alt {
  color: var(--heading-color);
}
.repair-right-bg {
  height: auto;
  width: auto;
  left: 25%;
  right: 0;
  bottom: 7%;
  top: 7%;
}
.repair-right .offer-circle-alt {
  position: absolute;
  left: 0;
  top: 0;
}
.repair-right {
  margin-left: -15%;
}

/* quality */
.quality-list-double li {
  width: 50%;
}
.quality-list-double ul {
  display: flex;
  flex-wrap: wrap;
}
.quality-list-alt li::before {
  background: var(--primary-color);
}
.quality-theme-list li::before{
  background: var(--theme-color);
}
.offer-circle-alt {
  font-size: 25px;
}
.offer-circle-alt h3 {
  font-size: 3em;
  font-weight: 800;
  line-height: 1;
}
.offer-circle-alt h6 {
  font-size: 0.7em;
}

/*error */
.error-page .section-overlay::before {
  opacity: 0.5;
}
.error-page h1 {
  font-size: 260px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error-page h1 img {
  max-height: 230px;
  margin: 5% -2% 0;
}
.float-input {
	position: relative;
	z-index: 1;
}
.float-input .cirle-icon {
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
}
.cirle-icon {
  font-size: 16px;
  height: 3em;
  width: 3em;
  background: var(--primary-color);
  color: var(--heading-color);
  border: 0;
  border-radius: 50%;
}
.cirle-icon:hover {
  color: var(--theme-color);
}
.error-page .page-title-text {
  padding-top: 120px;
}

/* service details */
.service-details-about .section-img .sq-shape-group {
  right: calc(100% + 3.8em);
}
.play-bx-large {
  height: 580px;
}
.play-circle-alt {
  background: var(--theme-color);
  border-color: var(--theme-color);
}
.play-circle-alt:hover {
  background: var(--primary-color);
  color: var(--heading-color);
  border-color: var(--primary-color);
}

/* service details*/
.service-details-info-content::after {
  content: "";
  height: 60%;
  left: -10%;
  top: -5%;
  right: -10000%;
  background: #f9f9f9;
  position: absolute;
  z-index: -1;
}
.service-details-feature-bx {
  padding: 70px;
  background: #ffffff;
}
.service-details-feature-bx .quality-list li {
  border: 1px solid #e0e0e0;
  margin-bottom: 10px;
  padding: 1.2em;
  padding-left: 2.4em;
  width: calc(50% - 5px);
}
.service-details-feature-bx .quality-list li:before {
  top: 1em;
  left: 0.8em;
}
.service-details-feature-bx .quality-list ul {
  justify-content: space-between;
}
.service-details-feature-content .absolute-img {
  height: 100%;
}
.service-details-testimony .testimony-slider {
  margin-bottom: 0;
}

.separate-arrows .slick-arrow {
  left: -8%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.separate-arrows .slick-arrow.slick-next {
  left: auto;
  right: -8%;
}

/* coming soon */
.coming-soon-counter li {
  display: inline-block;
}
.coming-soon-counter li {
  font-size: 55px;
  padding: 0 0.7em;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}
.coming-soon-counter li h2 {
  font-size: inherit;
  color: inherit;
  margin: 0;
}
.coming-soon-counter li h2 span {
  font-size: 0.36em;
  display: block;
}
.coming-soon-counter {
  background: var(--theme-color);
  border-radius: 100px;
  padding: 2em;
}
.coming-soon-counter li:last-child {
  border-right: 0;
}

.coming-soon-area img.absolute-img {
  left: 102%;
}
.sq-theme-shape span {
  background: var(--theme-color);
}
.coming-soon-area .sq-theme-shape.right-center {
  top: 70%;
  right: -3.8em;
}
.coming-soon-area {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.coming-soon-area .page-title-text {
  flex: 1;
  display: flex;
  align-items: center;
}

/* blog page */
.blog-page .news-slide {
  margin-right: 0;
  margin-left: 0;
}
.pagination {
  font-family: "Oduda", sans-serif;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.05);
  display: inline-flex;
  padding: 10px 0;
}
.page-link {
  border: 0;
  border-left: 1px solid #eaeaea;
}
.page-item:not(:first-child) .page-link {
  margin-left: 0;
}
.page-item:first-child .page-link,
.page-item:last-child .page-link,
.page-item:nth-child(2) .page-link {
  border: 0;
}
.page-link:focus {
  box-shadow: 0 0;
}
.page-link:hover,
.page-link:focus,
.page-item.active .page-link {
  background-color: transparent;
  color: var(--theme-color);
}
.page-link:focus,
.page-link.site-btn:hover,
.page-link {
  color: var(--heading-color);
}
.page-link.site-btn {
  color: var(--white);
  background: var(--theme-color);
}
.page-item:first-child .page-link {
  transform: translate(-40px);
}
.page-item:last-child .page-link {
  transform: translate(40px);
}
.page-item:last-child .page-link.site-btn:after {
  left: auto;
  right: 0;
  transform: translate(50%, -50%);
}
.page-item:last-child .page-link.site-btn:hover:after {
  transform: translate(0%, 0%);
}

/* single shop */
/* qty */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.qty {
  display: flex;
  background: #fff;
  border: 1px solid var(--primary-color);
  align-items: center;
}
.qty-controler {
  flex-direction: column;
  justify-content: center;
  line-height: 1;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  padding: 0.5em 1.2em;
  color: var(--heading-color);
  border-left: 1px solid var(--primary-color);
}
.qty input {
  flex: 1;
}
.qty input:focus {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05);
}
.qty span {
  cursor: pointer;
  transition: 0.3s ease;
  margin: -1px 0;
}
.qty span:hover {
  color: var(--theme-color);
}

.single-shop-wrap {
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
  background: #fff;
}
.single-shop-tab {
  text-align: right;
  padding: 20% 15%;
  padding-left: 25%;
}
.single-shop-link {
  width: 90px;
  padding: 15px 22px;
  border: 1px solid var(--primary-color);
  transition: 0.3s ease;
  cursor: pointer;
  background: #fff;
  margin-bottom: 15px;
  margin-right: 15px;
}
.single-shop-link.active {
  border-color: var(--theme-color);
}
.single-shop-links {
	position: absolute;
	top: 5%;
	left: 5%;
	z-index: 2;
}
.single-shop-link:last-child {
  margin: 0;
}
.account-tab,
.single-shop-detail-tab,
.single-shop-tab {
  display: none;
  animation: fadeEffect 1s ease;
}
.account-tab.active,
.single-shop-detail-tab.active,
.single-shop-tab.active {
  display: block;
}
@keyframes fadeEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.batch .check-icon {
  margin-right: 5px;
}
.single-shop-detail .ratting-star li,
.single-shop-page .ratting-star li {
  font-size: 16px;
}
.color-list li {
  display: inline-block;
  height: 2em;
  width: 2em;
  position: relative;
  margin: 0.1em;
}
.color-list li:after {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  content: "";
  background: #000;
  opacity: 0.1;
  clip-path: polygon(0 0, 35% 0, 100% 100%, 0% 100%);
}
.size-list li {
  display: inline-block;
  background: var(--primary-color);
  padding: 0.5em 1em;
  margin: 0.1em;
}
.model-bx {
  background: var(--primary-color);
  padding: 2em;
  padding-bottom: calc(2em - 15px);
}
.single-shop-tab .circle-icon {
	font-size: 20px;
	position: absolute;
	right: 3%;
	top: 3%;
	z-index: 3;
}

/* single-shop-detail */
.single-shop-detail .selectable-star li {
	font-size: 22px;
	color: var(--primary-color);
}
.selectable-star {
  display: flex;
}
.selectable-star li {
  cursor: pointer;
  font-size: 25px;
  transition: 0.3s ease;
  margin: 0;
  padding: 0.2em;
}
.selectable-star li i{
	font-weight: 400;
}
.selectable-star li:hover ~ li i{
	font-weight: 400;
}
.selectable-star li.ratted i,
.selectable-star:hover li i {
  font-weight: 900;
}
.single-shop-title {
  margin-bottom: 1em !important;
}
.single-shop-detail p {
  margin-bottom: 1.4em;
}
.single-blog-page .quality-list li::before,
.single-shop-detail .quality-list li::before {
  background: var(--theme-color);
}
.specification-list li span {
  width: 30%;
  display: inline-block;
}
.specification-list li {
	padding: 1.6em;
	margin-bottom: 10px;
	background: #fafafa;
}
.single-shop-gallery .gallery-item {
  height: 340px;
}
.single-shop-gallery .play-bx {
  height: 380px;
}
.ques-bx h5 {
  font-size: 20px;
  line-height: 1.2;
}
.ques-bx > h5,
.ques-bx .section-content {
  padding: 20px 30px;
}
.ques-bx > h5 {
  background: #F1F1F1;
}
.ques-bx {
  border: 1px solid #F1F1F1;
}
.ques-bx h5 span {
  width: 35px;
  display: inline-block;
  text-transform: uppercase;
}
.review-client-img img {
  width: 100%;
}
.review-client-img h6 {
	background: var(--theme-color);
	margin-bottom: 0;
}
.review-text-bx {
	padding-bottom: 2em;
	border-bottom: 1px solid #b9b9b9;
}
div:last-child > .review-text-bx {
	border-bottom: 0;
}
.post-review-form input, 
.post-review-form textarea,
.post-review-form .shop-filter-list
 {
	margin-bottom: 25px;
}
.global-review-bx {
	padding: 2em 2.5em;
	border: 1px solid var(--primary-color);
}
.global-review-bx .ratting-wrap h6 {
	color: #575757;
	letter-spacing: 0;
}
.mfp-figure::after {
	background: #fff;
}
.account-link li,
.single-shop-detail-link li {
	display: inline-block;
	margin-right: 2px;
	margin-bottom: 6px;
}
.account-link li .site-btn ,
.single-shop-detail-link li .site-btn {
  text-transform: capitalize !important;
}
.single-shop-detail-feautre-img {
	margin-right: -65%;
	position: relative;
	z-index: 2;
}
.ratting-progress-wrap > li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.ratting-progress-wrap .progress {
  flex: 1;
  margin: 0 1.5em;
  border-radius: 0;
  background: #F3F3F3;
}
.ratting-progress-wrap h6 {
  font-size: 18px;
}
.ratting-progress-wrap .progress-bar {
  background: #F7D541;
}
.ratting-progress-wrap > li:last-child {
  margin-bottom: 0;
}

/* single blog */
.news-list img {
	width: 45px;
	border-radius: 50%;
	border: 2px solid var(--primary-color);
}
.news-list li:first-child h6::after {
	content: "-";
	display: inline-block;
	margin-left: 1em;
}
.speech-bx {
  padding: 5% 10%;
}
.speech-bx h1 {
  font-size: 120px;
  line-height: 0;
  padding-top: 8%;
}
.speech-bx h5 {
  line-height: 1.2;
}
.single-blog-detail .play-bx {
  height: 380px;
}
.posted-info-bx {
  padding: .5em;
  background: #F9F9F9;
  padding-left: 1.5em;
}
.posted-info-bx h6 {
  color: #777777;
}

.single-blog-navigations {
  border: 1px solid #F5F5F5;
}
.single-blog-navigation {
  padding: 1em 1.5em;
  border-right: 1px solid #f5f5f5;
}
.single-blog-navigation a:hover{
  color: var(--primary-color);
}
div:last-child > .single-blog-navigation {
  border: 0;
  text-align: right;
}
.single-blog-navigation i {
  margin-right: .7em;
}
div:last-child > .single-blog-navigation i {
  margin-left: .7em;
  margin-right: 0;
}
.blog-author-bx {
	background: var(--theme-color);
	padding: .8em;
}
.review-bx-title h4 span {
	font-size: .5em;
}
.blog-author-info h5 span {
	font-size: .6em;
}
.bx-btn {
	text-transform: uppercase;
	font-weight: 700;
	padding: .2em 1em;
	font-size: 14px;
	color: #fff;
	background: var(--theme-color);
	font-family: 'Oduda', sans-serif;
}
.bx-btn-alt,
.bx-btn:hover {
  background: var(--primary-color);
  color: var(--heading-color);
}

.single-blog-sub-bx {
  border: 1px solid #DDDDDD;
  padding: 2.2em;
}
.single-blog-sub-bx h4 {
  margin-bottom: 30px;
}
.category-list li {
  padding: 1em 1.3em;
  background: #FCFCFC;
}
.category-list li:nth-child(2n) {
  background: #F8F8F8;
}
.category-list li h6 {
  display: flex;
  justify-content: space-between;
}
.single-blog-gallery {
  padding-top: 100%;
}
.checked-list li a {
	position: relative;
	padding-left: 1em;
	display: block;
	margin-bottom: .7em;
}
.checked-list li a:before {
  position: absolute;
  left: 0;
  top: 50%;
  content: '';
  border-left: .4em solid;
  border-top: .3em solid transparent;
  border-bottom: .3em solid transparent;
  transform: translateY(-50%);
}



/* cart page */
.cart-qty .qty {
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
}
.cart-table th {
	background: var(--theme-color);
	border-color: var(--theme-color);
}
.cart-table tbody tr {
	background: #fff;
}
.cart-table tbody tr:nth-child(2n-1) {
	background: #FAFAFA;
}
.cart-table th,
.cart-table td {
	padding: 20px;
}
.cart-product-img {
	width: 85px;
	display: inline-grid;
	place-content: center;
	padding: 15px;
	background: #FFFFFF;
}
 .cart-info {
   display: inline-block;
 }
 .cart-info .ratting-star li {
	font-size: 14px;
}
 .float-form form {
   display: flex;
}
 .float-form input:not([type=submit]) {
	flex: 1;
}
.float-form .site-btn {
	padding: 1em 1.4em;
}
.cart-calc-bx {
	background: #FAFAFA;
}
.cart-calc-list,
.cart-calc-content {
	padding: 30px 40px;
}
.cart-calc-list {
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 14px solid var(--primary-color);
}
.cart-calc-list li {
  margin-bottom: 10px;
}
.cart-calc-list li h6 {
  display: flex;
}
.cart-calc-list li h6 span {
  width: 50%;
}
.cart-calc-list ul {
  border-bottom: 1px solid #757575;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.cart-calc-list ul:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.cart-calc-list li {
	margin-bottom: 10px;
	padding: 0 2em;
}
.cart-calc-list ul:last-child li:last-child{
	padding: 1em 2em;
  background: var(--theme-color);
  margin-top: 20px;
}
.cart-calc-list ul:last-child li:last-child h6{
  color: #fff;
}
.cart-page-area .sq-shape-group {
  top: calc(100% - 3.8em);
  bottom: auto;
}




/* SHOP Page*/
.shop-filter-color li h6,
.shop-filter-category h6 {
  font-size: inherit;
  display: flex;
  justify-content: space-between;
  transition: .3s ease;
}
.shop-filter-color li, .shop-filter-category li {
	padding: .7em .3em;
	font-size: 18px;
	position: relative;
	cursor: pointer;
	z-index: 1;
	border-bottom: 2px solid #EDEDED;
	transition: .3s ease;
	margin-bottom: 0 !important;
}
.shop-filter-color li,
.shop-filter-category li:hover h6 {
  color: var(--theme-color);
}
.shop-filter-item {
	padding: 1.8em 1.3em;
	border: 1px solid var(--primary-color);
	margin-bottom: 30px;
	position: relative;
	z-index: 1;
	background: #fff;
}
.shop-filter-item:after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  z-index: -1;
  border-top: 3px solid var(--primary-color);
  border-left: 3px solid var(--primary-color);
  height: 22%;
  width: 28%;
}
.shop-filter-color li:last-child,
.shop-filter-category li:last-child {
  border: 0;
}
.shop-filter-category li.active {
  border-bottom-color: var(--theme-color);
}
.shop-filter-category li.active h6 {
  color: var(--theme-color);
}
.shop-filter-list li {
	font-size: 18px;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: .3s ease;
	margin-bottom: 15px;
}
.shop-filter-list li:last-child {
 margin-bottom: 0px;
}
.shop-filter-list li:hover h6 {
  color: var(--theme-color);
}
.shop-filter-list h6 {
 font-size: inherit;
 flex: 1;
 transition: .3s ease;
}
.checkbx {
	height: .8em;
	width: .8em;
	display: inline-block;
	transition: .3s ease;
	margin-right: 10px;
	position: relative;
	background: #F4F4F4;
  border: .3em solid #F4F4F4;
}
.ship-checkout.active .checkbx,
.shop-filter-list li.active .checkbx {
  background: #fff;
  border-color: var(--theme-color);
}
.ship-checkout .checkbx{
  border: .25em solid #F4F4F4;
}
.color-holder {
	display: inline-block;
	width: 1.4em;
	height: 1.4em;
	position: relative;
	overflow: hidden;
}
.shop-filter-color .color-holder {
 margin-right: 10px;
}

.shop-filter-color .color-holder:after {
  position: absolute;
  height: 50%;
  width: 50%;
  top: 45%;
  left: 50%;
  content: '';
  background: #fff;
  clip-path: polygon(24% 29%, 37% 70%, 100% 0, 100% 38%, 38% 100%, 0% 50%);
  transition: .3s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
}
.shop-filter-color li.active .color-holder::after {
	opacity: 1;
	height: 60%;
	width: 70%;
}
.shop-sort li {
  display: inline-block;
  font-size: 18px;
  padding: .6em;
  background: #F3F3F3;
  transition: .3s ease;
  cursor: pointer;
  margin: 2px;
}
.shop-sort li h6 {
  font-size: inherit;
  transition: .3s ease;
}
.shop-sort li.active {
  background: var(--primary-color);
}
.shop-sort li:hover h6{
   color: var(--theme-color);
}
.shop-sort li.active:hover h6{
  color: var(--heading-color);
}

.shop-view-mode {
	background: #F4F4F4;
	padding: .5em;
}
.shop-view-mode li {
	height: 1.8em;
	width: 1.8em;
	display: inline-grid;
	place-content: center;
	transition: .3s ease;
	cursor: pointer;
	margin: 2px;
  position: relative;
}
.shop-view-mode li + li {
  margin-left: 4px;
}
.shop-view-mode li + li::before {
	height: 100%;
	width: 2px;
	background: #DCDCDC;
	content: '';
	display: inline-block;
	position: absolute;
	left: -2px;
	top: 0;
}
.shop-view-mode li.active {
	background: var(--theme-color);
	color: #fff;
}
.shop-prize-range {
  display: flex;
  align-items: center;
}
.shop-prize-range input {
  border: 1px solid #E2E2E2;
  padding: 10px 15px;
}
.shop-prize-range h6 {
  margin: 0 .5em;
}
.shop-filter-item .ratting-star span,
.shop-filter-item .ratting-star li {
	font-size: 14px;
}
.product-item-wrap .product-slide {
	border: 1px solid #E8E8E8;
	padding: 1.4em;
  margin-left: 0;
  margin-right: 0;
}
.product-item-wrap .product-img {
	height: auto;
	background: none;
	box-shadow: 0 0;
	padding: 0;
	margin-bottom: 10px;
}

/* list-mode */
.product-item-wrap.list-mode > .row > div {
	width: 100%;
}
.product-item-wrap.list-mode .product-slide {
	display: flex;
	align-items: center;
  padding: 0;
}
.product-item-wrap.list-mode .product-img {
	padding: 2.5em;
	margin-right: 2.5em;
	border-right: 1px solid #E8E8E8;
	margin-bottom: 0;
}
.product-item-wrap.list-mode .section-content {
  flex: 1;
}
.product-item-wrap .inline-list,
.product-item-wrap .size-list {
  display: none;
}
.product-item-wrap.list-mode .size-list {
  display: block;
}
.product-item-wrap.list-mode .inline-list {
  display: inline-flex;
}
.product-item-wrap .ratting-star li {
	font-size: 14px;
}

/* wishlist */
.sq-icon {
	font-family: 'Oduda', sans-serif;
	padding: 1em;
	display: inline-block;
	background: #EC0600;
	color: #fff;
}
.sq-icon:hover {
	background: var(--primary-color);
	color: var(--heading-color);
}
.account-page .cart-table,
.wisthlist-page .cart-table {
  overflow-x: auto;
}
.wisthlist-page .cart-table table {
  min-width: 1000px;
}
.account-page .cart-table table{
  min-width: 800px;
}

/* checkout page */
.password-bx {
  position: relative;
  z-index: 1;
  }
  .password-bx input {
  padding-right: 40px;
  }
  .password-bx i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  opacity: .5;
  cursor: pointer;
  transition: .3s ease;
  }
  .checkout-top {
    border-top: 12px solid var(--primary-color);
    padding: 3em 4.5em;
  }
  .text-link {
    font-family: 'Oduda', sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    color: var(--heading-color);
  }
  .ship-checkout,
  .checkout-content {
    border: 1px solid #D4D4D4;
    border-top: 0;
    padding: 3.5em;
  }
  .checkout-content h6,
  .ship-checkout h6 {
    margin-top: 22px;
    color: #666666;
  }
  .ship-checkout-title{
    cursor: pointer;
  }
  .ship-checkout-slide {
    max-height: 0;
    overflow: hidden;
    transition: .3s ease;
  }
  .checkout-info-inner {
    padding: 2.5em;
  }
  .checkout-info{
    background: #FAFAFA;
  }
  
.checkout-info-list li h6 {
  display: flex;
  margin: 0;
}
.checkout-info-list li h6 span:first-child {
  flex: 1;
}
.checkout-info-list li:last-child {
	margin-top: 1.5em;
	border: 3px solid var(--primary-color);
	padding: 1em;
	font-size: 20px;
}
.checkout-info-list li {
  padding: 0 1em;
  margin-bottom: 1em;
}
.checkout-info-inner .shop-filter-list li {
	margin-bottom: 1.2em;
}

/* account */
.account-tab {
	background: #FAFAFA;
}
.account-details-form,
.account-upload,
.account-address,
.account-order,
.account-dashboard {
	padding: 3em;
}
.account-dashboard img{
  border-radius: 50%;
  border: 2px solid var(--primary-color);
}
.account-dashboard img {
	border-radius: 50%;
	border: 2px solid var(--primary-color);
	width: 100px;
}
.account-tab .cart-table .site-btn {
	font-size: 14px;
}
.account-tab .cart-table td {
  border-bottom: 0;
  padding: 15px;
}
.account-tab .cart-table .site-btn {
  font-size: 14px;
}

.account-address-bx {
  background: #fff;
  padding: 2.5em;
}
.account-address-bx .sq-btn, .account-address-bx .site-btn {
  position: absolute;
  right: 10px;
  top: 10px;
}
.account-address-bx li h5 {
  color: #666;
}
.account-address-bx li {
  background: #FAFAFA;
  margin-bottom: 10px;
  padding: .6em 1.2em;
}
.account-upload img {
	background: #fff;
	border-radius: 50%;
}
.account-link > .site-btn {
	margin-bottom: 6px;
}


/* gallery */
.gallery-page-link button {
	font-size: 16px;
	margin: 0 2px;
	margin-bottom: 6px;
	text-transform: capitalize !important;
}
.gallery-page-link button,
.gallery-page-link .site-btn.active {
	padding: 1em 1.2em;
}
.gallery-page-link {
  text-align: center;
}
.gallery-page-content {
	display: flex;
	flex-wrap: wrap;
	margin-right: -2%;
}
.gallery-page-content .gallery-item {
	width: 31.33%;
	padding-top: 23%;
	margin-right: 2%;
	margin-bottom: 2%;
	height: auto;
}
.gallery-page-content .galery-height2 {
	padding-top: 48%;
}
.gallery-page-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 99;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}
.gallery-page-overlay.active {
  opacity: 0.5;
  pointer-events: all;
}
.close-slide {
  position: absolute;
  right: 15px;
  top: 15px;
  transition: 0.3s ease;
}
.close-slide:hover {
  color: var(--theme-color);
}
.gallery-page-content .gallery-item > a {
	transform: translate(-50%, -50%) scale(.2);
}
.gallery-page-content .gallery-item:hover > a {
	transform: translate(-50%, -50%) scale(1);
}
.gallery-page .container{
  max-width: 1420px;
}

/* login */
.login-wrapper {
	padding: 5% 8%;
}
.login-bx {
	padding-bottom: 6%;
	border-bottom:  .27em solid #E7E7E7;
	margin-bottom: 6%;
}
.login-bx:last-child {
	padding-bottom: 0;
	border-bottom: 0;
	margin-bottom: 0;
}

/* search result */
.icon {
  background: none;
  border: 0;
  font-size: 1.3em;
}
.float-input .icon {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}
.icon:hover {
  color: var(--theme-color);
}
.search-popup .float-input input,
.search-page .float-input input {
	border: .17em solid var(--primary-color);
	background: #FAFAFA;
	font-size: 1.2em;
}

/* search popup */
.search-popup {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	height: 100%;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	transition: .3s ease;
}
.search-popup-overlay::before {
	background: var(--theme-color);
	opacity: .95;
}
.search-popup.active {
  opacity: 1;
  pointer-events: all;
}
.search-popup-content {
  transition: .4s ease;
  transform-origin: 50% 0;
  transform: scale(.5);
}
.search-popup.active .search-popup-content {
  transform: scale(1);
}
.cirlce-border-icon {
	border: 3px solid;
	font-size: 18px;
	height: 3.5em;
	width: 3.5em;
}
.cirlce-border-icon:hover {
	color: #fff;
}
.search-popup .bx-btn {
	text-transform: lowercase;
	font-size: 18px;
	padding: .4em 1em;
}
.search-popup .float-input {
	background: #fff;
}
.search-popup .float-input input {
	border: 0;
	background: transparent;
}
.search-popup .float-input::after {
	border: .17em solid var(--primary-color);
	position: absolute;
	top: .17em;
	bottom: .17em;
	right: .17em;
	left: .17em;
	content: '';
	z-index: -1;
}

/* coupon */
.coupon-item {
  padding: 2%;
  background: var(--primary-color);
}
.coupon-item .section-content {
  background: #fff;
  padding: 10%;
  border: .2em dashed var(--theme-color);
  border-right: 0;
}
.coupon-img {
  border: .2em dashed var(--theme-color);
}
.coupon-img .sq-shape-group {
	font-size: 14px;
	left: -3.8em;
}